@tailwind base;
@tailwind components;
@tailwind utilities;
.contentWrapper {
  width: 750px;
  background: green;

  .centerWrapper {
    width: 187.5px;
    height: 10px;
    background: yellow;
  }
}